.Contact {
    object-fit: cover;
  }

.Contact_Name {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

/* .isConnected {
    width: 12px;
    height: 12px;
    border-radius: 50%;
} */

.true {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(19, 200, 19);
}

.false {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}